<app-login></app-login>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TRMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reimbursements
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="reimbursements">View Claims</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="reimbursements">Submit Claim</a>
        </div>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Events</a>-->
      <!--</li>-->
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="getUsername() == ''" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
        <a class="nav-link" *ngIf="getUsername() != ''">Welcome, {{getUsername()}}</a>
        <!--<li class="nav-item"><a *ngIf="getUsername() != ''">Logout</a></li>-->
      </li>
      <li class="navitem">
        <a class="nav-link" *ngIf="getUsername() != ''" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="getUsername() == ''">Register</a>
      </li>
    </ul>
  </div>
</nav>

