<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Reimbursement #</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
      <td>11</td>
      <td>Harrison</td>
      <td>Ju</td>
      <td>harriju@trms.com</td>
      <td>harriju</td>
      <td>Employee</td>
      <td><span class="badge badge-warning">PENDING</span></td>
      <td><button class="btn btn-outline-success btn-sm" href="#" type="button">APPROVE</button>
          <button class="btn btn-outline-danger btn-sm" href="#" type="button">DENY</button>
          <button class="btn btn-outline-info btn-sm" href="#" type="button">REQUEST INFO</button>
      </td>
      <td></td>
    </tr>
    <!--table within a table inception-->
      <tr align="center">
        <th scope="col">Course Type</th>
        <th scope="col">Start Date</th>
        <th scope="col">Location</th>
        <th scope="col">Description</th>
        <th scope="col">Reason</th>
        <th scope="col">Attachments</th>
        <th scope="col">Work Days Missed</th>
        <th scope="col">Cost</th>
        <th scope="col">Approval ID</th>
      </tr>
      <tr align="center">
        <td scope="row">Certification</td>
        <td>3/8/2018</td>
        <td>Online</td>
        <td>Java OCA Certification</td>
        <td>Requirement</td>
        <td>None</td>
        <td>0</td>
        <td>$250</td>
        <td>73</td>
      </tr>
    <!--end inception-->
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fattness@trms.com</td>
      <td>jthor</td>
      <td>Employee</td>
      <td><span class="badge badge-danger">DENIED</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>twitters@trms.com</td>
      <td>larrbird</td>
      <td>Employee</td>
      <td><span class="badge badge-success">APPROVED</span></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
