<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<router-outlet></router-outlet>

